:root{
    --font-family: 'Raleway', sans-serif;
    --header-background-color: #EDEDED;
    --font-color-light-black: #464646;
    --bg-color-about: #EAF2FD;
    --cursive-letter: 'Mea Culpa', cursive;
}
body{
    font-family: var(--font-family);
}
.container{
    padding-right: 6%;
    padding-left: 6%;
}